// @use "../../../../variables.scss" as *;

// // .circle {
// //   &[data-letters]::before {
// //     content: attr(data-letters);
// //     display: inline-block;
// //     width: 24px;
// //     height: 24px;
// //     line-height: 24px;
// //     text-align: center;
// //     border-radius: 50%;
// //     background: var(--accent-color);
// //     color: var(--base-bg);
// //   }
// // }
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle span {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
