
<dx-load-panel
[visible]="isLoading"
[showIndicator]="true"
[shadingColor]="'rgba(0,0,0,0.4)'"
[position]="'center'">
</dx-load-panel>
<dx-scroll-view class="view-wrapper-scroll" *ngIf="!isLoading " >
    <div  *ngIf="!isLoading " class="view-wrapper" style="padding-top: 0px !important; padding-bottom: 0px !important;" >

      <div class="panels theme-dependent" *ngIf="!isLoading "  >
        <div class="left"  >
          <contact-form
            [contactData]="contactData"
            [isLoading]="isLoading"
          ></contact-form>
        </div>

        <div class="right theme-dependent">
          <contact-cards
            style="height: 550px; overflow-y: hidden  !important;"
            [isLoading]="isLoading"
            [contactName]="employeeId"
            [tasks]="contactData?.tasks"
            [activities]="contactData?.activities"
            [activeOpportunities]="activeOpportunities"
            [closedOpportunities]="closedOpportunities"
            [notes]="contactNotes"
            [messages]="contactMessages"
          ></contact-cards>
        </div>
      </div>
    </div>
  </dx-scroll-view>
