// .chatPage{
//   // display: flex;
//   // justify-content: end;
//   width: 100%;
//   height: 100vh;
//   // bottom: ;
//   // top: 9.5rem;
//   // padding: 0;
//   // margin: 0;
// }
// .chatPage button{
//    transform: translateX(-5px);
//    z-index: 1050;
//    background:none ;
//    border: 0;
//    top: -3.5rem;
//   //  position: absolute;

//   //  color: whitesmoke;
// }
// .main-page{
//   // width: ;
//   // border: 2px solid red;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;

// }
