.custom-accordion {
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
}

.accordion-item {
  border-bottom: 1px solid #eee;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}

.accordion-header:hover {
  background: #115FA3;
  color: rgb(255, 255, 255);
}

.toggle-icon {
  font-size: 18px;
}

.accordion-body {
  padding: 15px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.custom-table th {
}
.navbar{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
